<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="WinPlayWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup>
	<supportedRuntime version="v4.0"/>
	<supportedRuntime version="v2.0.50727"/>
</startup>
    <userSettings>
        <WinPlayWPF.Properties.Settings>
            <setting name="playSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="langCulture" serializeAs="String">
                <value />
            </setting>
            <setting name="userIsAuthenticatedForEver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstallDate" serializeAs="String">
                <value>2000-01-28</value>
            </setting>
            <setting name="nextLicen" serializeAs="String">
                <value>2009-10-01</value>
            </setting>
            <setting name="shape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="playVolume" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ml" serializeAs="String">
                <value />
            </setting>
            <setting name="xdem" serializeAs="String">
                <value />
            </setting>
            <setting name="xdema" serializeAs="String">
                <value />
            </setting>
            <setting name="xdemb" serializeAs="String">
                <value />
            </setting>
            <setting name="xdemc" serializeAs="String">
                <value />
            </setting>
            <setting name="xdemd" serializeAs="String">
                <value />
            </setting>
            <setting name="ot" serializeAs="String">
                <value />
            </setting>
            <setting name="otW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="otH" serializeAs="String">
                <value>0</value>
            </setting>
        </WinPlayWPF.Properties.Settings>
    </userSettings>
</configuration>
